main.adminMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
main.adminMain > div {
    background-color: #ead8ca5d;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
div.topInfo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 4vh;
}
div.topInfo div {
    height: 10vh;
    width: 20vw;
    margin-top: 2vh;
    background-color: #bf988f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

}
div.topInfo div h2{
    font-size: 4vmin;
    margin-left: 1vw;
}
div.topInfo div i {
    margin-right: 1vw;
}
div.midInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}
div.midInfo > div {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 50vh;
    text-align: center;
}
div.midInfo div div h2 {
    margin-bottom: 2vh;
    text-align: center;
}
div.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1vh;
}
div.searchBar i {
    margin-right: 1.5vw;
}
div.searchBar input {
    width: 50%;
    padding: 2vh;
}
div.userContainer {
    overflow-y: auto;
    height: 50vh;
    width: 50vw;
}
div.statsContainer div {
    background-color: #bf988f;
    margin-bottom: 5vh;
    padding: 4vh 4vw;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    align-items: center;
}
div.statsContainer div i {
    margin-right: 2vw;
}
div.userCard, div.stockCard {
    margin: 1vh 1vw;
    padding: 2vh 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
div.userCard div:first-child {
    width: 50%;
}
div.userCard div:last-child {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.userCard button, div.manageStock button {
    background: #d4c5bf;
    border: 0;
    color: #7e6661;
    padding: 1vh;
    font-size: 2.3vmin;
    font-weight: 300;
    width: 90%;
    margin-left: 1vw;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
}
div.userCard button:hover {
    background: #bf988f;
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}  
div.userCard p{
    font-size: 3vmin;
}
p.admin {
    color: green;
}
div.stockContainer {
   width: 60vw;
   display: flex;
}
div.stockContainer .addProduct{
    align-self: flex-end;
    margin-right: 2vw;
    margin-bottom: 2vh;
}
div.stockCard div {
    width: 50%;
    padding: 0 2vw;
}
div.manageStock {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
div.manageStock button, div.manageStock a {
    width: 20%;
}
div.manageStock a button {
    width: 100%;
}
div.manageStock input {
    text-align: center;
}
div.guideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.guideContainer div hr {
    margin-bottom: 5vh;
}
div.guideContainer div div h3 {
    margin-bottom: 1.2vh;
    padding: 0 3vw;
}

h1.brand {
    font-family: 'Cormorant', serif;
    font-size: 11vh;
    flex: 1 1;
    text-align: center;
    color: rgb(83, 78, 78);
    letter-spacing: 0.5vw;
}

@media only screen and (max-width: 425px){
    div.statsContainer div {
        width: 50vw;
        padding: 3vh 4vw;
    }
    div.statsContainer div p {
        font-size: 3.5vmin;
    }
    div.manageStock input {
        width: 10vw;
        font-size: 2.4vmin;
    }
    div.manageStock button, div.manageStock a {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .guideContainer h1{
        font-size: 6vmin;
    }
    .guideContainer h3{
        font-size: 3.5vmin;
    }
    div.searchBar i {
        margin-right: 1.5vw;
    }
    div.searchBar input {
        width: 75%;
        padding: 1vw;
    }
    div.userContainer {
        width: 60vw;
    }
    div.topInfo div h2 {
        font-size: 4vmin;
    }
    div.topInfo div {
        width: 25vw;
    }
    div.stockCard div {
        width: 100%;
    }
    .stockContainer h1{
        font-size: 6vmin;
    }
    div.stockContainer .addProduct{
        margin-right: 2vw;
        margin-bottom: 2vh;
    }
}