.home {
  display: flex;
  flex-direction: column;
}
.home > div {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.home a {
  border: none;
  position: absolute;
  padding: 0 !important;
  border-radius: 20px;
  box-shadow: 2px 2px 34px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 34px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 34px -2px rgba(0, 0, 0, 0.5);
}

.homeStore {
  position: absolute;
  left: 78vw;
  transform: translate(-50%, -50%);
}
.homeStore > div {
  display: flex;
  align-items: center;
  padding: 1vw;
  width: 12vw;
  height: 12vw;
  border-radius: 20px;
  background-color: #dabea8;
}
.homeStore > div > p {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3vmin;
  text-transform: uppercase;
  line-height: 4vh;
}

.categories {
  background-color: #ecebe9;
  justify-content: center;
}
.categories h1 {
  margin-bottom: 4vw;
  text-align: center;
  font-family: "Cormorant", serif;
  letter-spacing: 1vw;
  font-size: 7vw;
}
.galleryWrap {
  width: 82vw;
  height: 60vh;
  display: flex;
}
.galleryWrap div {
  flex: 1;
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: flex 0.8s ease;
}
.galleryWrap div:hover {
  flex: 7;
}
.galleryWrap div a {
  transition: all 1s ease;
  margin-bottom: 2.5vw;
  padding: 1vw;
  width: 12%;
}
.galleryWrap div a button {
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: #ad9993;
  color: #000;
  text-transform: uppercase;
  padding: 0.7rem;
  cursor: pointer;
}
.galleryWrap div:hover a {
  width: 50%;
}
.textButton {
  font-size: 0.65rem;
  font-weight: bolder;
}

/*Quote Section*/
.quote {
  background-color: #d9e2e7c7;
  border-radius: 10px;
  width: 25vw;
  margin: 0 3.5vw;
  padding: 2.5vw;
  line-height: 4vh;
  font-size: 2.5vmin;
  text-align: center;
  letter-spacing: 0.12vw;
}
.info h2 {
  padding-bottom: 2vw;
  color: rgb(58, 57, 57);
  font-size: 2.8rem;
  font-family: "Cormorant", serif;
  line-height: 2.3rem;
}

.quote div i {
  font-size: 3rem;
  color: rgba(77, 75, 75, 0.234);
  margin: 1rem;
}

/*infoSection*/

.infoContainer {
  height: 15rem !important;
  justify-content: space-evenly;
}
.fondoInfo {
  display: flex;
  justify-content: space-around;
}

.infoItem {
  background-position: center;
  background-size: cover;
  background-repeat: none;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 4rem;
}

@media (max-width: 1300px) {
  .info {
    width: 27vw;
    font-size: 2.8vmin;
  }
  .infoItem {
    width: 13rem;
    height: 13rem;
    margin: 3rem;
  }
  .galleryWrap div a button {
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: #ad9993;
    color: #000;
    text-transform: uppercase;
    padding: 0.7rem;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .info {
    width: 28vw;
    font-size: 2.6vmin;
  }
  .infoItem {
    width: 12rem;
    height: 12rem;
    margin: 2.6rem;
  }
}

@media only screen and (max-width: 1124px) {
  .info {
    width: 30vw;
    font-size: 2.7vmin;
  }
  .infoItem {
    width: 11rem;
    height: 11rem;
    margin: 2.6rem;
  }
  .quote{
    width: 35vw;
  }
}

@media (max-width: 1000px) {
  .info {
    width: 30vw;
    font-size: 2.5vmin;
  }
  .infoItem {
    width: 9rem;
    height: 9rem;
    margin: 2.4rem;
  }
}

@media (max-width: 880px) {
  .info {
    width: 32vw;
    font-size: 2.3vmin;
  }
  .quote h2 {
    font-size: 2.7rem;
  }
  div i {
    font-size: 2.7rem;
  }
  .infoItem {
    width: 9rem;
    height: 9rem;
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .info {
    min-height: auto;
    width: 80%;
    margin: auto;
    font-size: 2.3vmin;
    text-align: center;
  }
  .quote {
    width: 35vw;
  }
  .quote h2 {
    font-size: 1.6rem;
  }
  div i {
    font-size: 1.3rem;
    margin: 0.7rem;
  }
  .quote{
    width: 40vw;
  }
  .quote p{
    font-size: 1.4rem;
  }

  .infoItem {
    width: 9rem;
    height: 9rem;
    margin: 1.8rem;
  }
  .galleryWrap div {
    flex: 1;
    width: 100vw;
  }
  .galleryWrap div a {
    width: 15%;
  }
  .textButton {
    font-size: .6rem;
  } 
  .infoContainer {
    padding-top: 3vh;
    height: 30rem !important;
  }
  .fondoInfo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4vh;
  }
  .infoItem {
    width: 15rem;
    height: 12rem;
  }
}
@media (max-width: 425px){
  .quote {
    width: 45vw;
  }
  .quote h2 {
    font-size: 1rem;
  }
  div i {
    font-size: .8rem;
  }
  .quote p{
    font-size: .9rem;
  }
  .textButton {
    font-size: .3rem;
  }  
  .infoContainer {
    padding-top: 8vh;
    height: 50rem !important;
    justify-content: space-evenly;
  }
  .fondoInfo {
    display: flex;
    flex-wrap: wrap;
  }
  .infoItem {

    width: 15rem;
    height: 10rem;
  }
}

