.iconsMenu {
  display: none;
}

header label {
  display: none;
  width: 2rem;
  height: 2rem;
  padding: 0.6rem;
}

header label:hover {
  cursor: pointer;
  background: black;
}
.menu nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu nav a:hover {
  background-color: black;
}

.menu nav a {
  display: block;
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
}
.userMenu {
  display: flex;
  width: 4rem;
}

@media (max-width: 800px) {
  header label {
    display: block;
  }
  .menu1 {
    position: absolute;
    width: 15vw;
    top: 3rem;
    left: 0rem;
    background-color: rgba(255, 255, 255, 0.405);
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    transition: flex 0.8s ease;
  }
  .menu2 {
    position: absolute;
    width: 15vw;
    top: 5.5rem;
    left: 0rem;
    background-color: rgba(255, 255, 255, 0.405);
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    transition: flex 0.8s ease;
  }

  .itemResponsive {
    display: none;
  }

  .iconsMenu {
    margin: 0;
    display: block;
  }
  .iconItem {
    width: 1rem;
  }
}
