.productSection {
  background-color: #f8f6f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainContainer {
  display: flex;
  align-self: center;
  width: 60vw;
  height: 65vh;
  margin: 5vh 0;
  border-radius: 20px;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid rgba(117, 114, 114, 0.719);
}
.productImage {
  min-width: 60%;
  height: 100%;
  background-color: darkblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 2vw;
  text-align: center;
}

.productInfo div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}
.productInfo > p:nth-child(2) {
  font-size: 2.5vmin;
}
.productInfo > p:nth-child(3) {
  font-size: 3vmin;
  font-weight: bold;
}
.productInfo > div:nth-child(3) {
  justify-content: center;
  font-size: 4vmin;
}

.productInfo h2 {
  font-size: 4vmin;
}

.productInfo button {
  background: #d4c5bf;
  border: 0;
  color: #7e6661;
  padding: 1vh;
  font-size: 1.5vmin;
  font-weight: 300;
  width: 50%;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}

.productInfo button:active {
  background: #d4c5bf;
  color: #263238;
}

.productInfo button:hover {
  background: #bf988f;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.shippingInfo p {
  padding-left: 1vw;
}

.suggestion {
  width: 100%;
  height: 30vh;
  background-color: coral;
}

.counter {
  display: flex;
  width: 50%;
}

.counter p {
  width: 30%;
}

.sc-bdfBQB,
.efwhzj {
  padding: 0 !important;
}
