.productSection {
  background-color: #f8f6f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  display: flex;
  align-self: center;
  width: 80vw;
  min-height: 65vh;
  margin: 5vh 0;
  border-radius: 20px;
  box-shadow: 5px 20px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.productImage {
  min-width: 20rem;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 2vw;
  text-align: center;
  color: rgb(75, 69, 69);
}

.productInfo div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  color: rgb(75, 69, 69);
}
.productInfo > p:nth-child(2) {
  font-size: 4vmin;
}
.productInfo > p:nth-child(3) {
  font-size: 3vmin;
}
.productInfo > div:nth-child(3) {
  justify-content: center;
  font-size: 4vmin;
}

.productInfo h2 {
  font-size: 4vmin;
  color: #c58b7b;
}

.productInfo button {
  background: #d4c5bf;
  border: 0;
  color: #7e6661;
  padding: 1vh;
  font-size: 1.5vmin;
  font-weight: 300;
  width: 50%;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}

.productInfo button:active {
  background: #d4c5bf;
  color: #263238;
}

.productInfo button:hover {
  background: #bf988f;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.shippingInfo p {
  padding-left: 1vw;
}

div.suggestionContainer {
  background-color: #d4c5bf;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

div.suggestionContainer h3 {
  color: rgba(0, 0, 0, 0.781);
  letter-spacing: 0.1vw;
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 5vh;
}

div.suggestion {
  width: 98vw;
  min-height: 65vh;
  background-color: #d4c5bf;
  display: flex;
  overflow-y: scroll;
}

div.suggestion::-webkit-scrollbar {
  height: 0.5rem !important;
}

div.suggestion::-webkit-scrollbar-thumb {
  background-color: #ad9993;
  border-radius: 10px;
}

div.productCardContainer {
  padding: 0.5rem;
  height: 50vh;
}

div.productCardContainer > div {
  width: 20rem;
}

.counter {
  display: flex;
  width: 50%;
  text-align: center;
}

.counter p {
  width: 30%;
  align-items: center;
}

.sc-bdfBQB,
.efwhzj {
  padding: 0 !important;
}
.interestCard {
  color: rgb(114, 107, 107);
  margin: 1vh 0;
}
.calculateSend {
  font-size: 3vmin;
}
.sale {
  text-decoration: line-through;
  color: #dd3e2c !important;
  font-size: 5vmin !important;
}

.fa-plus,
.fa-minus,
.fa-trash-alt {
  cursor: pointer;
}
.divError{
  min-height: 1.5vw;
}
.divError p{
  font-size: 1vw;
  color: brown;
}
@media only screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
    width: 90%;
    min-height: 80vh;
  }
  .productInfo {
    text-align: justify;
    padding: 1.5vh 2.5vw;
  }
  .productInfo > p:nth-child(2) {
    font-size: 3.8vmin;
    margin: 1vh 0;
  }
  .productImage {
    width: 100%;
  }
  .productInfo > div:nth-child(3) {
    font-size: 7vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 5vmin;
  }
  .productInfo button {
    padding: 2vh;
    font-size: 4vmin;
    width: 40%;
    margin: 1vh 0;
  }
  .shippingInfo p {
    padding-left: 0.2vw;
    font-size: 4.2vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 5vmin !important;
    margin: 2vh 0;
  }
}
@media only screen and (min-width: 425px) {
  .mainContainer {
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
  }
  .productInfo {
    text-align: justify;
    padding: 2vh 1.5vw;
  }
  .productImage {
    width: 100%;
  }
  .productInfo > p:nth-child(2) {
    width: 100%;
    font-size: 4.6vmin;
    margin: 2vh 0;
  }
  .productInfo > div:nth-child(3) {
    justify-content: space-evenly;
    font-size: 8.5vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 5.3vmin;
  }
  .productInfo button {
    padding: 1.5vh;
    font-size: 3.5vmin;
    width: 40%;
    margin: 2vh 0;
  }
  .shippingInfo p {
    padding-left: 0.1vw;
    font-size: 3.5vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 3.2vmin !important;
    margin: 2vh 0;
  }
}

@media only screen and (max-width: 767px) {
  .mainContainer {
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
  }
  .productImage {
    min-width: 100%;
    height: 25rem;
  }
  .productInfo {
    text-align: justify;
    padding: 3vh 2.7vw;
    min-width: 100%;
  }
  .productInfo > p:nth-child(2) {
    font-size: 3.2vmin;
    margin: 2vh 0;
  }
  .productInfo > div:nth-child(3) {
    justify-content: space-evenly;
    font-size: 6.5vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 5.7vmin;
  }
  .productInfo button {
    padding: 1.5vh;
    font-size: 3vmin;
    width: 40%;
    margin: 2vh 0;
  }
  .shippingInfo p {
    padding-left: 0.1vw;
    font-size: 3vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 3vmin !important;
    margin: 2vh 0;
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 80%;
    min-height: 50vh;
    flex-direction: row;
  }
  .productImage {
    width: 50%;
    height: 30rem;
  }
  .productInfo {
    text-align: justify;
    padding: 1vh 2.5vw;
  }
  .productInfo > p:nth-child(2) {
    font-size: 2vmin;
    margin: 2vh 0;
  }
  .productInfo > div:nth-child(3) {
    justify-content: space-evenly;
    font-size: 5.5vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 5vmin;
  }
  .productInfo button {
    padding: 1.5vh;
    font-size: 2.5vmin;
    width: 40%;
    margin: 2vh 0;
  }
  .shippingInfo p {
    padding-left: 0.1vw;
    font-size: 2.5vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 5.2vmin !important;
    margin: 2vh 0;
  }
  .interestCard {
    font-size: 2.7vmin;
  }
  .counter p {
    font-size: 2vmin;
  }
  .calculateSend {
    font-size: 2.5vmin;
  }
}

@media only screen and (max-width: 991px) {
  .mainContainer {
    width: 80%;
    min-height: 60vh;
  }
  .productImage {
    min-width: 50%;
    height: 25rem;
  }
  .productInfo {
    text-align: justify;
    padding: 1vh 2.5vw;
    width: 50%;
  }
  .productInfo > p:nth-child(2) {
    font-size: 3vmin;
    margin: 2vh 0;
  }
  .productInfo > div:nth-child(3) {
    justify-content: space-evenly;
    font-size: 5.5vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 5vmin;
  }
  .productInfo button {
    padding: 1.5vh;
    font-size: 2.5vmin;
    width: 40%;
    margin: 2vh 0;
  }
  .shippingInfo p {
    padding-left: 0.1vw;
    font-size: 3.5vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 5.2vmin !important;
    margin: 2vh 0;
  }
}
@media only screen and (max-width: 1024px) {
  .mainContainer {
    width: 80%;
    min-height: 60vh;
  }
  .productImage {
    min-width: 50%;
    height: 25rem;
  }
  .productInfo {
    text-align: justify;
    padding: 1vh 2.5vw;
    width: 50%;
  }
  .productInfo > p:nth-child(2) {
    font-size: 3vmin;
    margin: 2vh 0;
  }
  .productInfo > div:nth-child(3) {
    justify-content: space-evenly;
    font-size: 5.5vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 5vmin;
  }
  .productInfo button {
    padding: 1.5vh;
    font-size: 2.5vmin;
    width: 40%;
    margin: 2vh 0;
  }
  .shippingInfo p {
    padding-left: 0.1vw;
    font-size: 3.5vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 5.2vmin !important;
    margin: 2vh 0;
  }
}

@media only screen and (max-width: 2560px) {
  .mainContainer {
    width: 70%;
    min-height: 60vh;
  }
  .productImage {
    min-width: 50%;
    height: 70vh;
  }
  .productInfo {
    text-align: justify;
    padding: 1vh 2.5vw;
    width: 50%;
  }
  .productInfo > p:nth-child(2) {
    font-size: 3vmin;
    margin: 2vh 0;
  }
  .productInfo > div:nth-child(3) {
    justify-content: space-evenly;
    font-size: 5vmin;
    margin-bottom: 2vh 0;
  }
  .productInfo h2 {
    font-size: 4.5vmin;
  }
  .productInfo button {
    padding: 1.5vh;
    font-size: 2.5vmin;
    width: 40%;
    margin: 2vh 0;
  }
  .shippingInfo p {
    padding-left: 0.1vw;
    font-size: 3vmin;
    margin: 2vh 0;
  }
  .sale {
    font-size: 3.2vmin !important;
    margin: 2vh 0;
  }
  .interestCard {
    font-size: 2.7vmin;
  }
  .counter p {
    font-size: 2.5vmin;
  }
}
