/*SIDE PRODUCTS STYLES*/
.conteinerSideProducts{
  width: 35%;
  min-height: 7vh;
  border: 1px solid #d0d1d1;
}
.sideProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideProducts h2 {
  text-align: center;
  margin-bottom: 1vh;
  text-transform: uppercase;
  font-size: 4vmin;
  font-family: "Cormorant", serif;
  color: #746966;
}
.productInCart {
  display: flex;
  width: 70%;
  height: 7vw;
  justify-content: space-between;
}
.productCartInfo {
  padding: 1vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productCartInfo div {
  display: flex;
  justify-content: space-between;
}

.productCartInfo div span {
  font-weight: bold;
  font-size: 2.5vmin;
}

.productCartInfo a p {
  font-size: 2.5vmin;
  margin-bottom: 0.3vh;
}

.productCartPhoto {
  width: 3vw;
  height: 10vh;
  margin: 2vh 1vw 2vh 1.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.productCartInfo div p{
  font-size: 2vmin;
}
.totalPrice {
  width: 80%;
  font-size: 3.6vmin;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
  margin-top: 1vh;
  border-top: 1px solid #d0d1d1;
}
.totalPrice p{
  padding-top: 1.4vh;
  margin-bottom: 2vh;
}

.totalPrice span {
  color: #000000be;
  font-size: 3.6vmin;
}

.totalPrice a button {
  width: 30%;
  background-color: #ead8ca94;
  color: #000000be;
  font-size: medium;
  font-weight: bolder;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: 1vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .sideProducts{
    display: none;
  }
}