main.signup-main,
main.signin-main {
  display: flex;
  min-height: 105vh;
  background-image: url(https://i.imgur.com/Tc1vKCs.jpg);
  background-position: center;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-height: 50vh;
  width: 35%;
  color: #666;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.box h1 {
  margin-left: 1vw;
  padding: 2vh;
  font-size: 3vmin;
  font-weight: 300;
  color: #bf988f;
}

.box button {
  background: #d4c5bf;
  border: 0;
  color: #7e6661;
  padding: 1vh;
  font-size: 2.5vmin;
  font-weight: 300;
  width: 80%;
  margin: 2vh auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}

.box button:active {
  background: #d4c5bf;
  color: #263238;
}

.box button:hover {
  background: #bf988f;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.box p {
  font-size: 2vmin;
  text-align: center;
}

.group {
  position: relative;
  margin-bottom: 3vh;
  margin-left: 2vw;
}

.box div div input {
  font-size: 1.5vmin;
  padding: 1vh 1vw 1vh 0.5vw;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid #757575;
}

.box div div input:focus {
  outline: none;
}

.group label {
  color: #999;
  font-size: 2vmin;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* Active input */
.box div div input:focus ~ label,
.box div div input:valid ~ label {
  top: -1.5vh;
  font-size: 2vmin;
  color: #bf988f;
}

/* Input bars on focus */
.bar {
  position: relative;
  display: block;
  width: 90%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #bf988f;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* Active input */
.box div div input:focus ~ .bar:before,
.box div div input:focus ~ .bar:after {
  width: 50%;
}

.box div div input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* SignUp > Animations */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.footer-box {
  width: 100%;
  height: 5vh;
  background: #bf988f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box > a {
  color: #ffffff;
  font-size: 2vmin;
  font-weight: 500;
}

.sign-up {
  color: white;
  cursor: pointer;
}

.sign-up:hover {
  color: #bfc6d4;
}

.googleButton {
  display: flex;
  align-items: center;
}

div.group div {
  height: 2.5vh;
}

p.inputError {
  font-size: 1.8vmin;
  margin-top: 1vh;
  text-align: center;
  width: 90%;
  color: rgb(218, 37, 37);
}
div.errorContainer {
  height: 5vh;
  color: red;
}
