* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*HEADER*/
a {
  text-decoration: none;
  color: #000;
}
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
  background-color: #ead8ca5d;
}
header a {
  text-decoration: none;
  color: rgb(75, 69, 69);
  margin: 1.5vw;
}
header h1 {
  font-family: "Cormorant", serif;
  font-size: 11vh;
  flex: 1;
  text-align: center;
  color: rgb(83, 78, 78);
  letter-spacing: 0.5vw;
}
a:active {
  color: rgb(131, 119, 119);
  transition: all 0.2s ease-out;
}
header .userLogin {
  color: rgb(75, 69, 69);
}
.fa-shopping-cart {
  cursor: pointer;
  color: rgb(75, 69, 69);
}

header .logoUser {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #000;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1124px) { 
      
      header .logoUser{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        background-color: #000;
        background-position: center;
        background-size: cover;
      }
    
}

@media (max-width: 1100px) {
    .logo {
      width: 30vw;
      height: 12.5vw;
    }
}
  


/* PRODUCT FORM */
.main,
.productFormContainer,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productFormContainer h4 {
  color: #bf988f;
}
.productFormContainer {
  min-height: 70vh;
  justify-content: space-around;
  box-shadow: 0px 3px 5px 0px rgba(82, 80, 80, 0.75);
  width: 60%;
  margin-top: 2rem;
  padding: 0.5vw 0;
  margin-bottom: 10vh; /*porque me pisa el form el footer para sacar después*/
  margin-top: 15vh; /*idem arriba con el header*/
}

form.productForm {
  min-height: 80vh;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
}

form input,
form textarea,
form select {
  width: 90%;
  border: none;
  background-color: transparent !important;
  border-bottom: 1px solid black;
  padding-left: 0.5rem;
  height: 2rem;
  resize: none;
  outline: none;
  background: transparent;
}

div.price,
div.saleInput {
  display: flex;
  width: 90%;
  gap: 1rem;
}

div.saleRadios {
  display: flex;
  width: 90%;
  align-items: center;
}

div.saleRadios p {
  padding: 0.5rem;
}

div.saleRadios input {
  height: auto;
  width: 20%;
}

.formButton {
  padding: 0.5rem 1rem;
  border: none;
  color: #7e6661;
  background-color: #bf988f;
  font-size: 1.5vmin;
  font-weight: 300;
  width: 80%;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 2px;
}
.sc-bdfBQB {
  padding: 0 !important;
}

.fa-plus,
.fa-minus,
.fa-trash {
  cursor: pointer;
}

@media only screen and (max-width: 1124px) {
  header .logoUser {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #000;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 1100px) {
  .logo {
    width: 30vw;
    height: 12.5vw;
  }
}
