* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

/*HEADER*/
header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
  background-color:#ead8ca5d;
}
header a {
  text-decoration: none;
  color: rgb(75, 69, 69);
  margin: 1.5vw;
}
header h1{
  font-family: 'Cormorant', serif;
  font-size: 11vh;
  flex: 1;
  text-align: center;
  color: rgb(83, 78, 78);
  letter-spacing: 0.5vw;
}
a:active {
  color: rgb(131, 119, 119);
  transition: all 0.2s ease-out;
}
header .userLogin {
  color: rgb(75, 69, 69);
}
.fa-shopping-cart {
  cursor: pointer;
  color: rgb(75, 69, 69);
}

header .logoUser{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #000;
  background-position: center;
  background-size: cover;
}
/* FOOTER */
footer {
  width: 100%;
  position: absolute;
  min-height: 30vh;
  background-color: #ead8ca5d;
  display: flex;
  justify-content: space-around;
  padding: 8vh;
}
footer div h3 {
  color: rgba(0, 0, 0, 0.781);
  letter-spacing: 0.1vw;
  margin-bottom: 2vh;
}
footer div p {
  color: rgba(0, 0, 0, 0.637);
  padding: 0.5vh;
  letter-spacing: 0.05vw;
  margin-bottom: 1vh;
}
footer .socialNetworks {
  flex-direction: row;
}

footer .infoContact {
  display: flex;
  flex-direction: column;
}
footer .iconContact {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}
footer div {
  gap: 2;
}
footer .iconSocial {
  color: rgb(97, 88, 88);
  margin-right: 0.5vw;
}

.iconSocial{
  color: rgb(97, 88, 88);
}